[submodule "smellful-arduino"]
	path = smellful-arduino
	url = https://github.com/Lk2v/smellful-arduino.git
[submodule "smellful-flutter"]
	path = smellful-flutter
	url = https://github.com/Lk2v/smellful-flutter.git
